* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header:hover {
    font-size: large;
    color: blue;
}

.about-head:hover {
    background-color: orange;
}

.work-head:hover {
    background-color: orange;
}

.contact-head:hover {
    background-color: orange;
}

.cat-container {
    flex-direction: row;
    height: 400px;
    width: 500px;
}

.cat-pic {
    margin: 5px;
}

.box-container {
    grid-template-columns: auto auto auto;
}

.box {
    background-color: lightblue;
    border: 2px solid black;
    height: 250px;
    width: 250px;
    margin: 10px;
    text-align: center;
}
